<!-- CONFIG_MICRO_RTPS_TRANSPORT=<serial, udp> -->
CONFIG_MICRO_RTPS_TRANSPORT=udp
CONFIG_IP=127.0.0.1
CONFIG_PORT=8888

CONFIG_DEVICE=\tty\acmS0

<!-- CONFIG_MICRO_RTPS_CREATION_MODE=<refs, xml> -->
CONFIG_MICRO_RTPS_CREATION_MODE=xml

CONFIG_MAX_TRANSPORT_MTU=512
CONFIG_MAX_HISTORY=16
CONFIG_MAX_NODES=8
CONFIG_MAX_PUBLISHERS_X_NODE=10
CONFIG_MAX_SUBSCRIPTIONS_X_NODE=10
CONFIG_RMW_MICRORTPS_SUBSCRIBER_RAW_BUFFER_SIZE=500
CONFIG_RMW_NODE_NAME_MAX_NAME_LENGTH=255
CONFIG_RMW_TOPIC_NAME_MAX_NAME_LENGTH=50
CONFIG_RMW_TYPE_NAME_MAX_NAME_LENGTH=250