<!-- CONFIG_MICRO_XRCEDDS_TRANSPORT=<serial, udp> -->
CONFIG_MICRO_XRCEDDS_TRANSPORT=udp
CONFIG_IP=127.0.0.1
CONFIG_PORT=8888

CONFIG_DEVICE="/dev/ttyS0"

<!-- CONFIG_MICRO_XRCEDDS_CREATION_MODE=<refs, xml> -->
CONFIG_MICRO_XRCEDDS_CREATION_MODE=xml

CONFIG_MAX_HISTORY=4
CONFIG_MAX_NODES=2
CONFIG_MAX_PUBLISHERS_X_NODE=4
CONFIG_MAX_SUBSCRIPTIONS_X_NODE=4
CONFIG_RMW_NODE_NAME_MAX_NAME_LENGTH=128
CONFIG_RMW_TOPIC_NAME_MAX_NAME_LENGTH=50
CONFIG_RMW_TYPE_NAME_MAX_NAME_LENGTH=128
